<br><br><br><br><br><br><br>
<div class="Sign-UP" style="margin-left: 2vmin;">
            <button class="btn btn-primary btn-block create-account" type="submit" link="http://localhost:8000/" style="font-size: 3.5vmin">New Assignment</button>
</div>
<div id="assignments given">
      <h1 style="color: black;font-size: 6vmin;"><b> List of Assignments given</b></h1>
      <ul style="color: black;font-size: 4vmin;list-style-type:disc;">
        <li><b><a href ="https://en.wikipedia.org/wiki/Hyderabad"> Assignment 1</a></b></li>
        <li><b><a href ="https://en.wikipedia.org/wiki/Hyderabad"> Assignment 2</a></b></li>
        <li><b><a href ="https://en.wikipedia.org/wiki/Robert_Downey_Jr."> Assignment 3</a></b></li>
        <li><b><a href ="https://www.cse.iitb.ac.in/">Assignment 4</a> </b></li>
      </ul>
</div>
