<br><br><br><br><br><br><br>
<div class="Sign-UP" style="margin-left: 2vmin;">
            <button class="btn btn-primary btn-block create-account" type="submit" link="http://localhost:8000/is/course/new" style="font-size: 3.5vmin">
            	<a href ="http://127.0.0.1:8000/is/course/new">
            New Assignment
        </a>
        </button>
</div>
<div id="assignments given">
      <h1 style="color: black;font-size: 6vmin;"><b> List of Assignments given</b></h1>
      <ul style="color: black;font-size: 4vmin;list-style-type:disc;">
        <li><b><a href ="http://127.0.0.1:8000/is/assignment"> Assignment 1</a></b></li><br>
        <li><b><a href ="http://127.0.0.1:8000/is/assignment"> Assignment 2</a></b></li><br>
        <li><b><a href ="http://127.0.0.1:8000/is/assignment"> Assignment 3</a></b></li><br>
        <li><b><a href ="http://127.0.0.1:8000/is/assignment"> Assignment 4</a> </b></li><br>
      </ul>
</div>

<div class="Sign-UP" style="margin-left: 2vmin;">
            <button class="btn btn-primary btn-block create-account" type="submit" link="http://localhost:8000/" style="font-size: 3.5vmin">
            <a href ="http://127.0.0.1:8000/">
            Log out
        </a>
        </button>
</div>
