
{% block content %}
<br><br><br><br><br><br><br>
<div id="myDIV">
  <h2 style="font-family: Caveat;text-align: center;color:#494bf0;font-size: 10vmin"><b>MOODLE++</b></h2>
</div>
<!-- <p  style="font-family: Pacifico;text-align: center; color:#756460  ;font-size: 8vmin"><b>Welcome to my website :D</b></p>
    <br>
</div> -->

<!-- {{ request.user }} -->
<div class="Sign-UP" style="text-align: center;font-size: 4vmin">
    <form>
        <h3 class="text-center">Log in</h3>
        <div class="Sign-UP" >
            <input class="form-control item" type="text" name="Username" id="Username" placeholder="Username" required style="font-size: 3vmin">
        </div>
        <div class="Sign-UP">
            <input class="form-control item" type="password" name="Password" placeholder="Password" required style="font-size: 3vmin">
        </div>
        <div class="Sign-UP">
            <button class="btn btn-primary btn-block create-account" type="submit" link="http://localhost:8000/" style="font-size: 2.5vmin"><a href ="http://127.0.0.1:8000/st/course">
            Submit</a></button>
        </div>
    </form>
</div>

{% endblock %}