</div>
<div id="assignments given">
      <h1 style="color: black;font-size: 6vmin;"><b>COURSES</b></h1>
      <ul style="color: black;font-size: 3.5vmin;list-style-type:disc;">
        <li><b><a href ="http://127.0.0.1:8000/st/course/assignment"> CS 251</a></b></li>
        <br><!-- 
        <li><b><a href ="http://127.0.0.1:8000/st/course/assignment"> CS 215</a></b></li>
        <br>
        <li><b><a href ="http://127.0.0.1:8000/st/course/assignment"> CS 207</a></b></li>
        <br>
        <li><b><a href ="http://127.0.0.1:8000/st/course/assignment">CS 213</a> </b></li> -->
      </ul>
</div>

<div class="Sign-UP" style="margin-left: 2vmin;">
            <button class="btn btn-primary btn-block create-account" type="submit" link="http://localhost:8000/" style="font-size: 3.5vmin">Log out</button>
</div>
