
<div id="courses taken">
      <h1 style="color: black;font-size: 6vmin;"><b>COURSES</b></h1>
      {% if course_list %}
      <ul style="color: black;font-size: 3.5vmin;list-style-type:disc;">
        
        {% for course in course_list %}
        <li><a href="/st/course/{{course.cid}}">{{course.cid}}</a></li>
        {% endfor %}
        
      </ul>
      {% endif %}
</div>
<br><br>
<div class="Sign-UP" style="margin-left: 2vmin;">
            <button class="btn btn-primary btn-block create-account" type="submit" style="font-size: 3.5vmin"><a href="">Log out</a></button>
</div>